

.h1 {
    color: crimson;
    font: bold;
    font-family: monospace;
    background-color: antiquewhite;
}

.head {
    font-family: monospace;
    color: rgb(112, 15, 25);
}

.scope {
    height: 350px;
}

.team {
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.pages {
    font-size: x-large;
    background-color: crimson;
    margin-bottom: 20px;
    text-align: center;
}

a.menu {
    color: antiquewhite;
}

a.other {
    color: #852c2c;
}
