.h1 {
    color: crimson;
}

.scope {
    height: 4in;
}

.team {
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.pages {
    font-size: large;
    background-color: crimson;
}

a:link {
    color: white;
}

a:visited {
    color: antiquewhite
}

a:hover {
    color: lightsalmon;
}